<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bus Tracking System</title>
    <link rel="stylesheet" href="..\static\index1.css">
     

</head>

<body>
    <div class="header-left">
        <h1 class="site-title">Go Campus</h1>
        <p class="site-tagline">Never miss the bus again – track it, catch it!</p>
    </div>

    <div class="wrapper">
      
        <div class="container">
            <a class="btn" href="{{ url_for('login') }}">Login</a>
            <a class="btn" href="{{ url_for('register') }}">Register</a>
        </div>
    </div>
   
</body>
</html>